# Used for: `make init`, `make terraform-apply`, `make deploy`
# against the DEDICATED production server.

TF_VAR_hcloud_token=""

TF_WORKSPACE="production"
TARGET_ENVIRONMENTS="production"

SSH_KEY_PATH="~/.ssh/id_ed25519"

S3_ACCESS_KEY=""
S3_SECRET_KEY=""

POSTGRES_DB_PASSWORD_PRODUCTION=""
